/* import frameworks */
@import 'nib'
@import '../../bower_components/jeet-stylus/jeet/'
@import '../../bower_components/animatecss/animate'
@import '../../bower_components/rupture-master/rupture/'
@import '../../bower_components/colors/stylus/colors'

@font-face
    font-style normal
    font-weight normal
    font-family 'Range'
    src url('/assets/fonts/Range-Regular.ttf') format('truetype')

/* variables */
$lite-gray = #f5f5f5
$dark-gray = #5f5f5f