  .page
    center(100%)
    margin-bottom 48px
    
    .wrapper
      background white
      
    article
      center(100%)
      padding 24px 36px
      
      >h2
        display block
        margin 0 0 12px
        padding 0 0 12px
        font-size 1.55rem
        letter-spacing 0.0526rem
        line-height 1.5rem
        color $gray
        border-bottom: 1px solid lighten($gray, 75%)
        
        a
          text-decoration none
          color $gray
          
          &:hover
            color $teal
      
      .published
        display block
        margin-bottom 24px
        font-size 0.789rem
        font-style italic
        text-align right
        letter-spacing 0.0526rem
        line-height 1.5rem
        color $gray
      
      >p
        font-size 0.789rem
        letter-spacing 0.0526rem
        line-height 1.5rem
        text-align justify
        text-justify newspaper
        color $gray
        
        a
          color $teal
          text-decoration none
          
          &:hover
            text-decoration underline
      
      >figure
        display block
        margin 48px 0
        //padding 12px
        //background $lite-gray
        text-align center
        
        img
          width 100%
          max-width 720px
          height auto
        
        figcaption
          display block
          text-align center
          margin 24px 0 0
          font-size 0.789rem
          letter-spacing 0.0526rem
          line-height 1.5rem
          color $gray
  
  +from(481px)
    .page
      padding 0 24px
      
      article
        center(570px)
        padding 48px
          
        p
          line-height 2rem
          
  +from(1050px)
    .page
      padding 0 48px
      
      article
        center(885px)
        padding 96px 48px